.title {
    display: flex;
    flex-direction: row-reverse;

    button {
        margin: 1em 1em 0 0;
    }
}

.groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (orientation:portrait) {
    .groups {
        flex-direction: column;
    }
}